

/*===========================
  card-01 css
===========================*/
.single-card {
	box-shadow: var(--shadow-1);
	border-radius: 8px;
	overflow: hidden;
	margin-top: 30px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.single-card:hover {
	box-shadow: var(--shadow-4);
}
.single-card .card-image img {
	width: 100%;
	height: 100%;
}
.single-card .card-content {
	padding: 16px;
}
.single-card .card-content .card-title {
	margin-bottom: 0;
}
.single-card .card-content .card-title a {
	color: var(--black);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.single-card .card-content .card-title a:hover {
	color: var(--primary);
}
.single-card .card-content .text {
	color: var(--dark-3);
	margin-top: 8px;
}
.form-group {
	margin-bottom: 0;
}

.form-input .help-block {
	margin-top: 2px;
}
.form-input .help-block .list-unstyled li {
	font-size: 12px;
	line-height: 16px;
	color: var(--error);
}
.form-input label {
	font-size: 12px;
	line-height: 18px;
	color: var(--dark-3);
	margin-bottom: 8px;
	display: inline-block;
}
.form-input .input-items {
	position: relative;
}
.form-input .input-items input,
.form-input .input-items textarea {
	width: 100%;
	height: 44px;
	border: 2px solid;
	padding-left: 44px;
	padding-right: 12px;
	position: relative;
	font-size: 16px;
}
.form-input .input-items input:focus,
.form-input .input-items textarea:focus {
	box-shadow: var(--shadow-4);
}
.form-input .input-items textarea {
	padding-top: 8px;
	height: 130px;
	resize: none;
}
.form-input .input-items i {
	position: absolute;
	top: 11px;
	left: 13px;
	font-size: 20px;
	z-index: 9;
}
.form-input .input-items.default input,
.form-input .input-items.default textarea {
	border-color: var(--gray-3);
	color: var(--dark-3);
}
.form-input .input-items.default input:focus,
.form-input .input-items.default textarea:focus {
	border-color: var(--primary);
}
.form-input .input-items.default input::placeholder,
.form-input .input-items.default textarea::placeholder {
	color: var(--dark-3);
	opacity: 1;
}
.form-input .input-items.default i {
	color: var(--dark-3);
}
.form-input .input-items.active input,
.form-input .input-items.active textarea {
	border-color: var(--primary);
	color: var(--black);
}
.form-input .input-items.active input::placeholder,
.form-input .input-items.active textarea::placeholder {
	color: var(--black);
	opacity: 1;
}
.form-input .input-items.active i {
	color: var(--primary);
}
.form-input .input-items.error input,
.form-input .input-items.error textarea {
	border-color: var(--error);
	color: var(--error);
}
.form-input .input-items.error input::placeholder,
.form-input .input-items.error textarea::placeholder {
	color: var(--error);
	opacity: 1;
}
.form-input .input-items.error i {
	color: var(--error);
}
.form-input .input-items.success input,
.form-input .input-items.success textarea {
	border-color: var(--success);
	color: var(--success);
}
.form-input .input-items.success input::placeholder,
.form-input .input-items.success textarea::placeholder {
	color: var(--success);
	opacity: 1;
}
.form-input .input-items.success i {
	color: var(--success);
}
.form-input .input-items.disabled input,
.form-input .input-items.disabled textarea {
	border-color: var(--gray-3);
	color: var(--dark-3);
	background: none;
}
.form-input .input-items.disabled input::placeholder,
.form-input .input-items.disabled textarea::placeholder {
	color: var(--dark-3);
	opacity: 1;
}
.form-input .input-items.disabled i {
	color: var(--dark-3);
}
.form-style-two .form-input .input-items input,
.form-style-two .form-input .input-items textarea {
	border-radius: 5px;
	padding-left: 12px;
	padding-right: 44px;
}
.form-style-two .form-input .input-items i {
	left: auto;
	right: 13px;
}
